<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_details>
            <general>
                <enable>1</enable>
                <show_order_product>1</show_order_product>
                <show_shipping_address>1</show_shipping_address>
                <show_shipping_method>1</show_shipping_method>
                <show_billing_address>1</show_billing_address>
                <show_payment_method>1</show_payment_method>
                <show_print_order_link>1</show_print_order_link>
                <show_reorder_link>1</show_reorder_link>
                <show_order_status>1</show_order_status>
            </general>
            <thank_cofig>
                <thank_messager>Thank You !</thank_messager>
                <size_thanks>20</size_thanks>
                <color_thanks>006bb4</color_thanks>
            </thank_cofig>
            <before_config>
                <text_before>Please check you order information again</text_before>
                <size_before_text>20</size_before_text>
                <color_text_before>006bb4</color_text_before>
            </before_config>
            <after_config>
                <text_after>Hope to see you next time!</text_after>
                <size_after_text>20</size_after_text>
                <color_text_after>006bb4</color_text_after>
            </after_config>
        </order_details>
    </default>
</config>